[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
flake8 = "*"

[packages]
click = "*"
kafka-python = "*"
jsonschema = "*"
azure = "*"
retrying = "*"

[requires]
python_version = "3.7"
